@charset "UTF-8";
/* CSS Document */

p {
    font-family: tinos;
    font-style: normal;
    font-weight: 400;
    color: #000000;
}
ul {
    font-family: tinos;
    font-style: normal;
    font-weight: 400;
    font-size: large;
    color: #D4A465;
}
.row .col-lg-6 h1 {
    color: #CD9E61;
}
div {
    font-family: tinos;
    font-style: normal;
    font-weight: 400;
    font-size: large;
}
.container .row .col-lg-6.offset-lg-1 {
    font-size: large;
}
.container .row .col-lg-12 {
    font-weight: bold;
    float: none;
}
.row .col-lg-6 .text-center {
    border-width: medium;
}
.row .col-lg-6 p {
    text-align: left;
    white-space: normal;
    word-spacing: normal;
    list-style-type: none;
    border-width: thick;
}
